{% extends "base.html" %}
{% set background = 'https://images.unsplash.com/photo-1519681393784-d120267933ba' %}
{% block content %}
<div class="card">
    <h2>Forget Password</h2>
    <form method="POST">
        <input type="text" name="regno" class="form-control" placeholder="Enter your Registration Number" required>
        <button type="submit" class="btn btn-primary w-100 mt-3">Submit Request</button>
    </form>
    <a href="{{ url_for('student_login') }}" class="back-link">⬅️ Back to Login Page</a>
</div>
{% endblock %}